# Node modules
node_modules/

# Build artifacts
/build/
/dist/
*.o
*.out
*.class
*.jar
*

# Environment variables
.env
.env.local
.env.*

# IDE files
*.idea/
*.vscode/
*.swp
*.swo

# Logs
*.log

# Firebase files
.firebase/

# OS files
.DS_Store
Thumbs.db
